h1 {text-align: center;
border-color: rgb(255, 200, 240);
border-style: dashed;
border-width: px;
background-color: rgb(241, 47, 186);
}

h2 {
    text-align: center;
    background-color: rgb(236, 40, 184);
    border-style: dashed;
    border-width: px;
    background-color: rgb(239, 30, 200);
}